<p class="info">
  {{ snapshotInfo().timestamp | date: 'd MMM y, hh:mm:ss' }}
  <span>Freq: {{ snapshotInfo().frequency }} Mhz</span>
</p>
<div class="controls">
  <div class="actions">
    <button matIconButton (click)="playPause($event)">
      <mat-icon class="icon">{{ isPlay ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <button
      matButton="outlined"
      aria-label="live"
      class="live-button"
      [class.red]="isLive"
      (click)="playLive()"
      [disabled]="isLive"
    >
      <mat-icon>fiber_manual_record</mat-icon> Live
    </button>
  </div>
  @if (max()) {
    <mat-slider [min]="min()" [max]="max()" [step]="1">
      <input
        matSliderThumb
        #ngSliderThumb="matSliderThumb"
        [value]="currentIndex()"
        (valueChange)="handleTimestampChange($event)"
      />
    </mat-slider>
  }
</div>
